<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{Name}'s Technology Business</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to {Name}'s Technology Business</h1>
    <p>Location: {Location}</p>
    <p>Industry: {Industry}</p>
    <p>Description: {Description}</p>
    <img src='img/technology.jpeg' alt='Technology Image'>
</body>
</html>
